<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zhaogaofei.customerviewstudywithqihang">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".one_animator.AnimatorStartActivity" />
        <activity android:name=".one_animator.AnimationActivity" />
        <activity android:name=".one_animator.ValueAnimatorActivity" />
        <activity android:name=".one_animator.CustomerViewAnimatorActivity" />
        <activity android:name=".one_animator.ObjectAnimatorActivity" />
        <activity android:name=".one_animator.ValuesHolderAndKeyFrameActivity" />
        <activity android:name=".one_animator.AnimatorSetActivity" />
        <activity
            android:name=".WelcomeActivity"
            android:theme="@style/AppWelcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".two_drawing.DrawingStartActivity" />
        <activity android:name=".two_drawing.PaintAndCanvasActivity" />
        <activity android:name=".two_drawing.PaintAndCanvas2Activity" />
        <activity android:name=".two_drawing.PaintAndCanvas3Activity" />
        <activity android:name=".two_drawing.PaintAndCanvas4Activity" />
        <activity android:name=".two_drawing.PaintCanvasTextActivity" />
        <activity android:name=".two_drawing.PaintAndCanvasBezierActivity" />
        <activity android:name=".two_drawing.WaveViewActivity" />
        <activity android:name=".two_drawing.PaintAndCanvasOtherActivity" />
        <activity android:name=".two_drawing.ColorMatrix1Activity" />
        <activity android:name=".two_drawing.ColorFilterActivity" />
        <activity android:name=".two_drawing.XfermodeActivity" />
        <activity android:name=".two_drawing.TwitterActivity" />
        <activity android:name=".two_drawing.EraserActivity" />
        <activity android:name=".two_drawing.PorterDuffDstModeActivity" />
        <activity android:name=".two_drawing.RedPointActivity" />
        <activity android:name=".two_drawing.ShadowsActivity" />
        <activity android:name=".two_drawing.BitmapShadowActivity" />
        <activity android:name=".two_drawing.BitmapShaderActivity" />
        <activity android:name=".two_drawing.AvatarActivity"></activity>
    </application>

</manifest>